.footer {
    background-color: #f5f5f0;
    /* Similar to the background color in the images */
    padding: 50px 0;
    font-family: Arial, sans-serif;
    position: relative;
    bottom: 0;
}

.footer-container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.footer-section {
    margin: 0 auto;
    text-align: center;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section li {
    margin-bottom: auto;
}

.footer-section a {
    color: black;
    text-decoration: none;
}

.footer-section a:hover {
    text-decoration: underline;
}