body {
    background-color: #67986d;
    font-family: cursive;
}

.container {
    text-align: center;
    padding: 10px;
}

.card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    position: relative;
    width: 500px;
    overflow: hidden;
    transition: transform 0.3s;
    margin-top: 25px;
    margin-bottom: 25px;
    cursor: pointer;

}

.card-image {
    width: 100%;
    height: auto;
    display: block;
}

.card-design h2 {
    font-size: 1.2rem;
    margin: 10px 0;
    margin-bottom: 10px;
    color: white;
}

.card-design p {
    font-size: 1rem;
    text-align: left;
    color: white
}